package components

templ add() {
	<form class="flex flex-col" hx-encoding="multipart/form-data" hx-post="/upload">
		<label>Name: <input type="text" name="name"/> </label>
		<input type="file" name="file" accept="image/*"/>
		<label>Date: <input type="date" name="date"/> </label>
		<button type="submit" class="border-2">
			Add
		</button>
	</form>
}
