package components

templ Header() {
	<header class="flex items-center justify-center w-full h-14 px-4 border-b lg:h-20 bg-gray-100/40">
		<div class="flex items-center gap-2 hover:cursor-pointer" hx-get="/" hx-push-url="true" hx-target="#content">
			@Logo()
			<span class="font-semibold">risiti</span>
		</div>
	</header>
}
