package components

import "github.com/crowmw/risiti/internal/repo"

templ ReceiptsList(receipts []receiptrepo.Receipt) {
	<ul id="receipts-list" class="flex flex-col gap-4">
		for _, receipt := range receipts {
			@ReceiptItem(receipt)
		}
	</ul>
}
