package components

templ ReceiptsList() {
	<ul class="flex flex-col gap-4">
		@ReceiptItem("Spodnie", "2024-02-01")
		@ReceiptItem("Bluzka", "2024-03-01")
		@ReceiptItem("Buty", "2024-04-05")
	</ul>
}
